.trending{
    display: flex;
    padding-top: 0rem;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #131517;
    gap:5px

}
.trend .pageTitle{
    display: flex;
    margin: auto;
    justify-content: center;
    background: none;
    text-transform: uppercase;
    font-size: 3vw;
    padding-top: .8vw;
    padding-bottom: .6vw;
    color: white;
    font-weight: 100;
}

/* @media (max-width:1000px) {
    .pageTitle{
        font-size: 6vw;
    }
} */



@media (max-width:604px)and(min-width:1000px){
   .trend .pageTitle{
        font-size: 6vw;
        padding: 1rem;
    }
}
@media (max-width:600px){
   .trend .pageTitle{
        font-size: 6vw;
        padding-top: 2rem;
    }
    
}
