.carousel-item{

    display: flex;
    flex-direction: column;
    object-fit: contein;
    padding: 10px;
}

.carousel-image{
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px black;
}
.carouselItem-text{
    display: flex;
    align-self: center;
    font-size: 1.5vw;
}
