/* .App{
  min-height: 100vh;
  background-color: rgb(103, 108, 117);
  color: white;
  z-index: 1;
}  */
*{
  scroll-behavior: smooth;
}


.app{
  background: rgb(67 84 116);
   
     min-height: 100vh;
     z-index: -1;
     /* border: 2px solid red; */
padding-top: 5rem ;
padding-bottom: 7rem;
}
/* .app2{
 margin-top: 2rem;
 background-color: (67 84 116);
 min-height: 100vh;
 color: white;
}
@media (max-width:700px){
  .app2{
    margin-top: 0px;
  }
} */
@media (max-width:1000px) {
  .app{
    padding-top: 10vw;
  }
}
